@import "tailwindcss";

@theme {
  --font-inter: var(--inter-font);
  --font-space: var(--font-space-grotesk);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}